body {
  box-sizing: border-box;
  font-family: "Futura", sans-serif;
  margin: 70px 30px;
  background-color: #FAFBFF;
}

.title {
  color: #0018A4;
  font-weight: 700;
  font-style: bold;
  font-size: 64px;
  margin-bottom: 52px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
}

.sort-random-container {
  display: flex;
  gap: 46px;
}

.filter-container {
  margin-bottom: 24px;
}

.btn {
  border-radius: 50px;
  padding: 8px 16px;
  border: none;
  color: #0018A4;
}

.filter-container .btn {
  background-color: #CCFFE2;
}

.sort-container .btn,
.random-container .btn {
  background-color: #FFECEA;
}

.btn:hover {
  outline: 2px solid #0018A4;
}

.filter-container .active {
  background-color: #0018A4;
  color: white;
}

.sort-container .active,
.random-container .active {
  background-color: #FF6589;
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 16px;
}

.card {
 max-height: 650px;
 border: 1px solid #E9E9E9;
 border-radius: 16px;
 padding: 12px;
 font-weight: 500;
 font-style: medium;
 font-size: 15px;
 overflow: hidden;
}

.recipe-information {
  font-size: 14px;
  margin-bottom: 24px;
}

.ingredients ul {
  list-style: disc inside;
  padding: 0;
  column-count: 2;
  column-gap: 1rem;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.card:hover {
  border: 2px solid #0018A4;
  box-shadow: 0px 0px 30px 0px rgba(0, 24, 164, 0.2);
}


/* For small screens */
@media only screen and (max-width: 650px) {

.title {
  text-align: center;
  font-size: 52px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.sort-random-container {
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.filter-container,
.sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.controls-container .btn {
  margin-bottom: 0;
}

.filter-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
  
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 420px));
  grid-gap: 16px;
  justify-content: space-evenly;
}
}

/* For wide screens */
@media only screen and (min-width: 1150px) {
  
  .controls-container{
    flex-direction: row;
    gap: 82px;
  }
}